/* BODY */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    max-width: 100%;
  }

  .body {
    background-color: rgb(242, 242, 242);
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
  }

/* MAIN */

.logo {
  width: 15rem;
  height: 1rem;
  margin-top: -2rem;
}

/*FOOTER*/

  .logolinkedin {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
  }
  
  .logogithub {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
  }
  
  .logowpp {
    width: 4rem;
    height: 4rem;
    padding: 0.6rem;
  }