/* BODY */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    max-width: 100%;
  }

  .body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
  }

/* MAIN */

.logo {
  width: 10rem;
  height: 1rem;
  margin-top: 1rem;
}

/*FOOTER*/

  .logolinkedin {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
  }
  
  .logogithub {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
  }
  
  .logowpp {
    width: 4rem;
    height: 4rem;
    padding: 0.6rem;
  }

  .image-svg {
    width: 100px;
    height: 100px;
    margin-right: auto;
  }

  .lista {
    width: 10vh;
    height: auto;
  }

  .tema {
    width: 15vh;
    padding-left: 10px;
  }

  .svg-nav {
    fill: rgb(105, 105, 105);
  }
